.toolbar {
  height: inherit;
  min-height: inherit;
}

.toolbar,
.toolbar * {
  color: white;
  font-size: 14px;
}

.container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: inherit;
}

.disabled {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.8;
}

.fontsDialogBackdrop {
  background-color: transparent;
}
