.usual {
  flex: 0;
  height: 25px;
}

.your-items {
  color: white;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.your-items > :nth-child(2) {
  flex: 1;
  height: 100%;
  margin-top: -25px;
  padding-top: 25px;
}
