.button {
  background: linear-gradient(180deg, #3a3a3a, #040508 200%);
  color: white;
  padding: 0 8px;
}

.button > span {
  display: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disabled {
  background: linear-gradient(180deg, #222, #444 180%);
}

.disabled > span {
  color: gray;
}
