.logContainer {
  height: 100%;
  overflow-y: scroll;
}

.asterisk {
  color: red;
  padding-left: 0.25em;
}

.container {
  display: inline-block;
  margin: 1em 0.5em;
  width: 100%;
}

.column1 {
  width: 110px;
}

.row {
  display: flex;
}

.padding {
  flex: 1;
}

.row:nth-child(odd) {
  background-color: rgba(127, 127, 127, 0.1);
}

.row:nth-child(even) {
  background-color: white;
}
